:root {
    --female_faded: #99d2dc;
    --female: #619ba5; 
    --male: #f5d6b0;
    --male_faded: #f9e9d9;
    --font_lines: #000000;
  }
  

body {
    font-family: Avenir Next, sans-serif;
    --main-color: var( --font_lines);
    font-weight: 100;
}
.tablinks{
  background-color: white;
  border: 2px solid gray;
  font-size : 15px;
  cursor: pointer;
  border-radius: 4px;

}
.tablinks:hover{
  background-color:  rgb(189, 188, 188);
}


.bigtab {
  padding:20px;
  font-size : 20px;
  width: 200px;
  border: 2px solid gray;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
}
.bigtab:hover {
  background-color: rgb(189, 188, 188);
  outline: none;
}
button.active{
  background-color: rgb(189, 188, 188);
}
